.hint_embla {
  --slide-size: 100%;
  max-width: 48rem;
  margin: auto;
  /* overflow: hidden; */
  /* max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%; */
}

.hint_embla__viewport {
  overflow: hidden;
}

.hint_embla__container {
  /* backface-visibility: hidden; */
  display: flex;
  touch-action: pan-y pinch-zoom;
  /* touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1); */
}

.hint_embla__slide {
  flex: 0 0 var(--slide-size);
  width: fit-content;
  /* padding-left: var(--slide-spacing); */
}
